name: Build & Release APK (Firebase App Distribution)

on:
  push:
    branches:
      - dev
    tags:
      - 'v*'
  # pull_request:
  #   branches:
  #     - dev

jobs:
  build-and-distribute:
    name: Build & Distribute APK
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true

      - name: Flutter Version
        run: flutter --version

      - name: Install Dependencies
        run: flutter pub get

      - name: Build Release APK
        run: flutter build apk --release

      - name: Upload to Firebase App Distribution
        uses: wzieba/Firebase-Distribution-Github-Action@v1
        with:
          appId: ${{ secrets.FIREBASE_APP_ID }}
          serviceCredentialsFileContent: ${{ secrets.FIREBASE_SERVICE_ACCOUNT }}
          groups: excellis-testers
          file: build/app/outputs/flutter-apk/app-release.apk

